.programs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs-header{
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size:1.5rem;
    justify-content:center;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    font-style: italic;
}
.programs-categories{
    display:flex;
    gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
    background-color:rgb(207, 202, 202);
    padding: 2rem;
    gap: 1rem;
    color: rgb(17, 15, 15);
    justify-content:space-between;
}
.category>:nth-child(1){
    width: 2rem;
    height: 2rem;
    fill:rgb(238, 193, 135);
}
.category>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.category>:nth-child(3){
    font-size: 0.9rem;
    line-height: 25px;
}
.join-now{
   display: flex;
   align-items:center;
   gap:2rem;

}
.join-now>img{
    width:1rem;
}
.category:hover{
    background:var(--planCard);
    cursor: pointer;
}
