.programs{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 2rem;
}

.programs-header{
    display: flex;
    gap: 1rem;
    font-weight: bold;
    font-size:1.5rem;
    justify-content:center;
    color: rgb(12, 12, 12);
    text-transform: uppercase;
    font-style: italic;
}
.programs-categories{
    display:flex;
    gap: 1rem;
}

.category{
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
    background-color:rgb(207, 202, 202);
    padding: 2rem;
    gap: 1rem;
    color: rgb(22, 22, 22);
=======
    background-color:rgb(177, 172, 172);
    padding: 2rem;
    gap: 1rem;
    color: rgb(10, 10, 10);
>>>>>>> e8067d08b67c2a5f7e20dc8f0a297b65990f47da
    justify-content:space-between;
}
.category>:nth-child(1){
    width: 2rem;
    height: 2rem;
<<<<<<< HEAD
    fill:rgb(54, 52, 52);
=======
    fill:rgb(12, 11, 11);
>>>>>>> e8067d08b67c2a5f7e20dc8f0a297b65990f47da
}
.category>:nth-child(2){
    font-size: 1rem;
    font-weight: bold;
}
.category>:nth-child(3){
    font-size: 0.9rem;
    line-height: 25px;
}
.join-now{
   display: flex;
   align-items:center;
   gap:2rem;

}
.join-now>img{
    width:1rem;
}
.category:hover{
    background:var(--planCard);
    cursor: pointer;
}
